<template>
  <div id="wrapper">
    <b-card-group columns style="column-count: 6 !important;">
      <b-card v-for="i in 12" :key="i">
        <b-card-header>
            <h5>{{i}}-р анги</h5>
        </b-card-header>
        <b-card-body  @click="openAngi(i)">
          <b-card-img src="https://png.pngtree.com/svg/20160627/none_1246760.png">
          </b-card-img>
        </b-card-body>
      </b-card>
      </b-card-group>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  methods: {
    openAngi (i) {
      this.$router.push({path: '/angi', query: {angi: i}})
    }
  }
}
</script>
<style>
.bottom {
    margin-top: 13px;
    line-height: 12px;
  }
.clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }
</style>
