<template>
  <div id="wrapper">
    <b-breadcrumb :items="items"></b-breadcrumb>
    <b-card-group columns style="column-count: 5 !important;" v-if="!show">
      <b-card v-for="(item, index) in angi[select].books" :key="index">
        <b-card-body  @click="openBook(index, item)">
          <b-card-img :src="item.img">
          </b-card-img>
        </b-card-body>
        <b-card-footer>
          <b-button variant="primary" size="sm" @click="download(index, item)">Татаж авах</b-button>
        </b-card-footer>
      </b-card>
      </b-card-group>
      <vue-gallery-slideshow v-if="show" :images="images" :index="index" @close="close"></vue-gallery-slideshow>
  </div>
</template>

<script>
  import VueGallerySlideshow from 'vue-gallery-slideshow'
  import pdfMake from 'pdfmake/build/pdfmake'
  import pdfFonts from 'pdfmake/build/vfs_fonts'
  import { downloadFile } from './helper'
  pdfMake.vfs = pdfFonts.pdfMake.vfs
  export default {
    name: 'angi',
    components: {
      VueGallerySlideshow
    },
    created () {
      this.select = this.$route.query.angi - 1
      if (this.angi) {
        this.items.push({
          text: this.angi[this.select].name,
          active: true
        })
      }
    },
    data () {
      return {
        select: -1,
        angi: [
          {
            'name': ' 1-р анги',
            books: [
              {'name': 'Бэлтгэл', 'img': 'http://econtent.edu.mn/content/1rangi/beltgel/pages/beltgel-1-0.jpg', 'page': 34},
              {'name': 'Монгол хэл', 'img': 'http://econtent.edu.mn/content/1rangi/mon/pages/mon-2-0.jpg', 'page': 174},
              {'name': 'Математик', 'img': 'http://econtent.edu.mn/content/1rangi/mat/pages/mat-3-0.jpg', 'page': 154},
              {'name': 'Иргэний боловсрол', 'img': 'http://econtent.edu.mn/content/1rangi/irgen/pages/irgen-4-0.jpg', 'page': 94},
              {'name': 'Хүн ба орчин', 'img': 'http://econtent.edu.mn/content/1rangi/huno/pages/huno-5-0.jpg', 'page': 78},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/1rangi/hugjim/pages/hugjim-6-0.jpg', 'page': 70},
              {'name': 'Дүрслэх урлаг технологи', 'img': 'http://econtent.edu.mn/content/1rangi/dursleh/pages/dursleh-7-0.jpg', 'page': 77}
            ]
          },
          {
            'name': ' 2-р анги',
            books: [
              {'name': 'Бэлтгэл', 'img': 'http://econtent.edu.mn/content/2rangi/dursleh/pages/dursleh-221-0.jpg', 'page': 34},
              {'name': 'Монгол хэл', 'img': 'http://econtent.edu.mn/content/2rangi/hugjim/pages/hugjim-222-0.jpg', 'page': 174},
              {'name': 'Математик', 'img': 'http://econtent.edu.mn/content/2rangi/huno/pages/huno-223-0.jpg', 'page': 154},
              {'name': 'Иргэний боловсрол', 'img': 'http://econtent.edu.mn/content/2rangi/mat/pages/mat-227-0.jpg', 'page': 94},
              {'name': 'Хүн ба орчин', 'img': 'http://econtent.edu.mn/content/2rangi/mon/pages/mon-228-0.jpg', 'page': 78},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/2rangi/irgen/pages/irgen-236-0.jpg', 'page': 70},
              {'name': 'Дүрслэх урлаг технологи', 'img': 'http://econtent.edu.mn/content/2rangi/shat/pages/shat-237-0.jpg', 'page': 77}
            ]
          },
          {
            'name': ' 3-р анги',
            books: [
              {'name': 'Бэлтгэл', 'img': 'http://econtent.edu.mn/content/3rangi/dursleh/pages/dursleh-229-0.jpg', 'page': 34},
              {'name': 'Монгол хэл', 'img': 'http://econtent.edu.mn/content/3rangi/hugjim/pages/hugjim-230-0.jpg', 'page': 174},
              {'name': 'Математик', 'img': 'http://econtent.edu.mn/content/3rangi/huno/pages/huno-231-0.jpg', 'page': 154},
              {'name': 'Иргэний боловсрол', 'img': 'http://econtent.edu.mn/content/3rangi/irgen/pages/irgen-232-0.jpg', 'page': 94},
              {'name': 'Хүн ба орчин', 'img': 'http://econtent.edu.mn/content/3rangi/mat/pages/mat-233-0.jpg', 'page': 78},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/3rangi/shat/pages/shat-238-0.jpg', 'page': 70},
              {'name': 'Дүрслэх урлаг технологи', 'img': 'http://econtent.edu.mn/content/1rangi/dursleh/pages/dursleh-7-0.jpg', 'page': 77}
            ]
          },
          {
            'name': ' 4-р анги',
            books: [
              {'name': 'Бэлтгэл', 'img': 'http://econtent.edu.mn/content/4rangi/dursleht/pages/dursleht-239-0.jpg', 'page': 34},
              {'name': 'Монгол хэл', 'img': 'http://econtent.edu.mn/content/4rangi/hugjim/pages/hugjim-240-0.jpg', 'page': 174},
              {'name': 'Математик', 'img': 'http://econtent.edu.mn/content/4rangi/hunn/pages/hunn-241-0.jpg', 'page': 154},
              {'name': 'Иргэний боловсрол', 'img': 'http://econtent.edu.mn/content/4rangi/hubo/pages/hubo-242-0.jpg', 'page': 94},
              {'name': 'Хүн ба орчин', 'img': 'http://econtent.edu.mn/content/4rangi/irgen/pages/irgen-243-0.jpg', 'page': 78},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/4rangi/mat/pages/mat-244-0.jpg', 'page': 70},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/4rangi/mon/pages/mon-245-0.jpg', 'page': 70},
              {'name': 'Дүрслэх урлаг технологи', 'img': 'http://econtent.edu.mn/content/4rangi/shat/pages/shat-246-0.jpg', 'page': 77}
            ]
          },
          {
            'name': ' 5-р анги',
            books: [
              {'name': 'Бэлтгэл', 'img': 'http://econtent.edu.mn/content/5rangi/english/pages/english-247-0.jpg', 'page': 34},
              {'name': 'Монгол хэл', 'img': 'http://econtent.edu.mn/content/5rangi/dursleht/pages/dursleht-248-0.jpg', 'page': 174},
              {'name': 'Математик', 'img': 'http://econtent.edu.mn/content/5rangi/hugjim/pages/hugjim-249-0.jpg', 'page': 154},
              {'name': 'Иргэний боловсрол', 'img': 'http://econtent.edu.mn/content/5rangi/hubo/pages/hubo-250-0.jpg', 'page': 94},
              {'name': 'Хүн ба орчин', 'img': 'http://econtent.edu.mn/content/5rangi/hunn/pages/hunn-251-0.jpg', 'page': 78},
              {'name': 'Хүн ба орчин', 'img': 'http://econtent.edu.mn/content/5rangi/irgen/pages/irgen-252-0.jpg', 'page': 78},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/5rangi/mat/pages/mat-253-0.jpg', 'page': 70},
              {'name': 'Дүрслэх урлаг технологи', 'img': 'http://econtent.edu.mn/content/5rangi/mon/pages/mon-255-0.jpg', 'page': 77}
            ]
          },
          {
            'name': ' 6-р анги',
            books: [
              {'name': 'Бэлтгэл', 'img': 'http://econtent.edu.mn/content/6rangi/english/pages/english-280-0.jpg', 'page': 34},
              {'name': 'Монгол хэл', 'img': 'http://econtent.edu.mn/content/6rangi/baigal%20uhaan/pages/baigal%20uhaan-281-0.jpg', 'page': 174},
              {'name': 'Математик', 'img': 'http://econtent.edu.mn/content/6rangi/hugjim/pages/hugjim-282-0.jpg', 'page': 154},
              {'name': 'Иргэний боловсрол', 'img': 'http://econtent.edu.mn/content/6rangi/irgen/pages/irgen-283-0.jpg', 'page': 94},
              {'name': 'Хүн ба орчин', 'img': 'http://econtent.edu.mn/content/6rangi/mat/pages/mat-284-0.jpg', 'page': 78},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/6rangi/mt/pages/mt-285-0.jpg', 'page': 70},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/6rangi/tuuh/pages/tuuh-286-0.jpg', 'page': 70},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/6rangi/monb/pages/monb-356-0.jpg', 'page': 70},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/6rangi/mon/pages/mon-352-0.jpg', 'page': 70},
              {'name': 'Дүрслэх урлаг технологи', 'img': 'http://econtent.edu.mn/content/6rangi/uran/pages/uran-358-0.jpg', 'page': 77}
            ]
          },
          {
            'name': ' 7-р анги',
            books: [
              {'name': 'Бэлтгэл', 'img': 'http://econtent.edu.mn/content/7rangi/english/pages/english-287-0.jpg', 'page': 34},
              {'name': 'Монгол хэл', 'img': 'http://econtent.edu.mn/content/7rangi/bieiintamir/pages/bieiintamir-288-0.jpg', 'page': 174},
              {'name': 'Математик', 'img': 'http://econtent.edu.mn/content/7rangi/biology/pages/biology-289-0.jpg', 'page': 154},
              {'name': 'Иргэний боловсрол', 'img': 'http://econtent.edu.mn/content/7rangi/dtech/pages/dtech-290-0.jpg', 'page': 94},
              {'name': 'Хүн ба орчин', 'img': 'http://econtent.edu.mn/content/1rangi/huno/pages/huno-5-0.jpg', 'page': 78},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/1rangi/hugjim/pages/hugjim-6-0.jpg', 'page': 70},
              {'name': 'Дүрслэх урлаг технологи', 'img': 'http://econtent.edu.mn/content/1rangi/dursleh/pages/dursleh-7-0.jpg', 'page': 77}
            ]
          },
          {
            'name': ' 8-р анги',
            books: [
              {'name': 'Бэлтгэл', 'img': 'http://econtent.edu.mn/content/1rangi/beltgel/pages/beltgel-1-0.jpg', 'page': 34},
              {'name': 'Монгол хэл', 'img': 'http://econtent.edu.mn/content/1rangi/mon/pages/mon-2-0.jpg', 'page': 174},
              {'name': 'Математик', 'img': 'http://econtent.edu.mn/content/1rangi/mat/pages/mat-3-0.jpg', 'page': 154},
              {'name': 'Иргэний боловсрол', 'img': 'http://econtent.edu.mn/content/1rangi/irgen/pages/irgen-4-0.jpg', 'page': 94},
              {'name': 'Хүн ба орчин', 'img': 'http://econtent.edu.mn/content/1rangi/huno/pages/huno-5-0.jpg', 'page': 78},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/1rangi/hugjim/pages/hugjim-6-0.jpg', 'page': 70},
              {'name': 'Дүрслэх урлаг технологи', 'img': 'http://econtent.edu.mn/content/1rangi/dursleh/pages/dursleh-7-0.jpg', 'page': 77}
            ]
          },
          {
            'name': ' 9-р анги',
            books: [
              {'name': 'Бэлтгэл', 'img': 'http://econtent.edu.mn/content/1rangi/beltgel/pages/beltgel-1-0.jpg', 'page': 34},
              {'name': 'Монгол хэл', 'img': 'http://econtent.edu.mn/content/1rangi/mon/pages/mon-2-0.jpg', 'page': 174},
              {'name': 'Математик', 'img': 'http://econtent.edu.mn/content/1rangi/mat/pages/mat-3-0.jpg', 'page': 154},
              {'name': 'Иргэний боловсрол', 'img': 'http://econtent.edu.mn/content/1rangi/irgen/pages/irgen-4-0.jpg', 'page': 94},
              {'name': 'Хүн ба орчин', 'img': 'http://econtent.edu.mn/content/1rangi/huno/pages/huno-5-0.jpg', 'page': 78},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/1rangi/hugjim/pages/hugjim-6-0.jpg', 'page': 70},
              {'name': 'Дүрслэх урлаг технологи', 'img': 'http://econtent.edu.mn/content/1rangi/dursleh/pages/dursleh-7-0.jpg', 'page': 77}
            ]
          },
          {
            'name': ' 10-р анги',
            books: [
              {'name': 'Бэлтгэл', 'img': 'http://econtent.edu.mn/content/1rangi/beltgel/pages/beltgel-1-0.jpg', 'page': 34},
              {'name': 'Монгол хэл', 'img': 'http://econtent.edu.mn/content/1rangi/mon/pages/mon-2-0.jpg', 'page': 174},
              {'name': 'Математик', 'img': 'http://econtent.edu.mn/content/1rangi/mat/pages/mat-3-0.jpg', 'page': 154},
              {'name': 'Иргэний боловсрол', 'img': 'http://econtent.edu.mn/content/1rangi/irgen/pages/irgen-4-0.jpg', 'page': 94},
              {'name': 'Хүн ба орчин', 'img': 'http://econtent.edu.mn/content/1rangi/huno/pages/huno-5-0.jpg', 'page': 78},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/1rangi/hugjim/pages/hugjim-6-0.jpg', 'page': 70},
              {'name': 'Дүрслэх урлаг технологи', 'img': 'http://econtent.edu.mn/content/1rangi/dursleh/pages/dursleh-7-0.jpg', 'page': 77}
            ]
          },
          {
            'name': ' 11-р анги',
            books: [
              {'name': 'Бэлтгэл', 'img': 'http://econtent.edu.mn/content/1rangi/beltgel/pages/beltgel-1-0.jpg', 'page': 34},
              {'name': 'Монгол хэл', 'img': 'http://econtent.edu.mn/content/1rangi/mon/pages/mon-2-0.jpg', 'page': 174},
              {'name': 'Математик', 'img': 'http://econtent.edu.mn/content/1rangi/mat/pages/mat-3-0.jpg', 'page': 154},
              {'name': 'Иргэний боловсрол', 'img': 'http://econtent.edu.mn/content/1rangi/irgen/pages/irgen-4-0.jpg', 'page': 94},
              {'name': 'Хүн ба орчин', 'img': 'http://econtent.edu.mn/content/1rangi/huno/pages/huno-5-0.jpg', 'page': 78},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/1rangi/hugjim/pages/hugjim-6-0.jpg', 'page': 70},
              {'name': 'Дүрслэх урлаг технологи', 'img': 'http://econtent.edu.mn/content/1rangi/dursleh/pages/dursleh-7-0.jpg', 'page': 77}
            ]
          },
          {
            'name': ' 12-р анги',
            books: [
              {'name': 'Бэлтгэл', 'img': 'http://econtent.edu.mn/content/1rangi/beltgel/pages/beltgel-1-0.jpg', 'page': 34},
              {'name': 'Монгол хэл', 'img': 'http://econtent.edu.mn/content/1rangi/mon/pages/mon-2-0.jpg', 'page': 174},
              {'name': 'Математик', 'img': 'http://econtent.edu.mn/content/1rangi/mat/pages/mat-3-0.jpg', 'page': 154},
              {'name': 'Иргэний боловсрол', 'img': 'http://econtent.edu.mn/content/1rangi/irgen/pages/irgen-4-0.jpg', 'page': 94},
              {'name': 'Хүн ба орчин', 'img': 'http://econtent.edu.mn/content/1rangi/huno/pages/huno-5-0.jpg', 'page': 78},
              {'name': 'Хөгжим', 'img': 'http://econtent.edu.mn/content/1rangi/hugjim/pages/hugjim-6-0.jpg', 'page': 70},
              {'name': 'Дүрслэх урлаг технологи', 'img': 'http://econtent.edu.mn/content/1rangi/dursleh/pages/dursleh-7-0.jpg', 'page': 77}
            ]
          }
        ],
        items: [
          {
            text: 'Бүгд',
            href: '/'
          }
        ],
        images: [],
        index: null,
        show: false
      }
    },
    methods: {
      download () {
        this.images = []
        this.index = null
        this.show = false
        downloadFile({
          remoteFile: 'http://www.planwallpaper.com/static/images/butterfly-wallpaper.jpeg',
          localFile: './butterfly-wallpaper.jpeg',
          onProgress: function (received, total) {
            console.log(received, total)
          }
        }).then(function () {
          alert('File succesfully downloaded')
        })
      },
      close () {
        this.images = []
        this.index = null
        this.show = false
      },
      openBook (index, item) {
        for (var i = 0; i < item.page; i++) {
          this.images.push(item.img.slice(0, -5) + i + '.jpg')
        }
        this.index = 0
        this.show = true
      }
    }
  }
</script>
<style>
.bottom {
    margin-top: 13px;
    line-height: 12px;
  }
.clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }
</style>
